<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset = "utf-8">
    <title>Restaurant Reviews</title>
	  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='Main_Page.css') }}">
</head>

<body>
  <header>
    <ul>
    <!-- <li style="float:right"><img src = 'images/logo.png' height = "50" width = "65"/></li> -->
      <li style="float:left"><a href = "{{ url_for('Main_Page.html') }}">Resturants in Mississauga</a></li>
      <li><a href=#>Advanced Search</a></li>
      <li><a href="{{ url_for('Data_Page.html') }}">About Data</a></li>
      <li><a href="{{ url_for('Sample_Query.html') }}">Sample Results</a></li>
    </ul>
 </header>


  	<div class="whyyouhere">
      <h1>Restaurant Reviews </h1>
      <hr>
      <section>
          <p class="opening">
            Here you can get all you need to know about Resturants in Mississauga.
          </br>
          </br>
            Gaining valuable insights into the performance of Yelp restaurants across Mississauga,
            This site allows consumers, restaurant owners and food critic to choose a satisfying
            restaurant and better understand the critical trends of Yelp restaurant market in Mississauga
            in a easy and straight-forward manner.
          </p>
          <img src="{{ url_for('static', filename='yelp.png') }}"
           alt="A logo of RR" height = "130" width = "256">
      </section>

  	</div>




  <div id = "audiences">
    <div class = "audience">
      <h2>Consumer</h2>
        <p>
          Knowing the available resturants in Mississauga
        </p>
        <p>
          Getting knowledge of specific features for a specific resturants
        </p>
    </div>
    <div class = "audience">
      <h2>Restaurant Owners</h2>
        <p>
          Checking how people feel about his resturant
        </p>
        <p>
          Comparing and contrasting among various neighborhoods
        </p>
        <p>
          Knowing the working hours of the other resturants in certain neighborhood
        </p>
    </div>
    <div class = "audience">
      <h2>Food Critics/ Researchers</h2>
        <p>
          Checking the top 5 reviews of the resturant
        </p>
        <p>
          Having an overall understanding of the variables in the data
        </p>
    </div>
  </div>

<section>
  <form action="/results" method="post">
    <input type="text" name="query"></input>
    <input type="submit" value="Search"></input>
    <label for="stars">Minimum stars (between 0 and 5):</label>
    <input type="range" id="stars" name="stars" min="0" max="5">
  </form>
</section>
</body>



<body id = "top">
  ...
  <a href = "#top">Back to top</a>
  ...
</body>

</br>
</br>
</br>
</br>

<footer>
    <small>&copy; Copyrighted by Dean, Hashir and Tony</small>
</footer>


</html>
